* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/****** HEADER  ******/
header {
  height: 60px;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.6);
  /*box-shadow: 0 0 19px -10px #000000;*/
  position: fixed;
  z-index: 2;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

header img {
  width: 150px;
}

header div {
  display: flex;
  align-items: center;
}

input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid transparent;
}

/****** MAIN  ******/
main {
  margin-bottom: 150px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section article {
  width: 50vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main article div {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: rgba(33, 33, 33, 0.6);
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  margin-right: 50px;
}

.displayNone {
  display: none;
}

.loadMore {
  width: auto;
  padding: 10px;
  border: none;
  background-color: rgba(211, 211, 211, 0.6);
  height: auto;
  transition: 0.3s;
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto;
  font-size: 20px;
}

.loadMore:hover {
  cursor: pointer;
  padding: 15px;
}

.singleArt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: -150px;
  position: relative;
}

.singleArt a {
  color: black;
}

.singleArt a:first-of-type {
  position: absolute;
  top: 0;
  left: 5vw;
  color: black;
}

.singleArt img {
  display: block;
  max-width: 90vw;
  max-height: 70vh;
  width: auto;
  height: auto;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
  }
  .container article {
    width: 100vw;
  }
  main article div {
    left: 15px;
    margin-right: 15px;
  }
}
